extends ./layout/layout

block head
    title #{client.user.username} - Comandos

block body
    .text-center.text-white.mt-4
        img.mb-4.rounded-circle(src=`${client.user.avatarURL()}`)
        br
        a.btn.btn-sm.btn-warning(href="/") Voltar

        .mx-auto.mt-5
            each commands in client.commandCategories.array()
                - category = commands[0].category
                    include ./command/commandCategory
